body {
    background-image: url("../images/office.jpg");
}

.time-remain-margins {
    margin-top: 0px;
    margin-bottom: 30px;
}

.jumbotron {
    margin-bottom: 10px;
}

.hover {
    padding: 10px 0px;
}

.hover:hover {
    background-color: lightblue;
}
