body {
    background-image: url("../images/office.jpg");
}

.transparent {
    background: rgba(255, 255, 255, 0.9);
}

.time-remain-margins {
    margin-top: 0px;
    margin-bottom: 30px;
}

.jumbotron {
    margin-bottom: 10px;
}

.hover {
    padding: 10px 0px;
}

.hover:hover {
    background-color: lightblue;
    box-shadow: 0 0 0 1px black inset;
}
